@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #000000;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-satoshi), sans-serif;
  --font-epilogue: var(--font-epilogue), sans-serif;
}

body {
  background: transparent;
  color: var(--foreground);
  font-family: var(--font-satoshi), sans-serif;
}

.font-epilogue {
  font-family: var(--font-epilogue), sans-serif;
}
